<div class="search-outer">
    <input id="searchBox" type="text" (focusout) ="isActive = false"   placeholder="{{placeHolder}}" 
      (keydown.arrowdown) = "downArrowEvent($event);" 
      (keydown.esc) = "hideSearchResults();" 
      (keydown.arrowup) = "upArrowEvent($event);"
      (keydown.enter) = "enterKeyEvent();"
      [(ngModel)]="searchText" (ngModelChange)="getEndpointSearchResult()" class = "form-control " autocomplete="off"/> 
    <a  class="searchButton" >
      <i *ngIf = "searchText == ''" class="fa fa-search"></i>
      <i *ngIf = "searchText != ''" class="fa fa-times" (click) ="emitSelectedObject(null);"></i>
    </a>
    <div class="sb-seachresults" *ngIf = "isActive" >
      <ul id="searchList" class="sb-results-dropdown-menu" [ngStyle]="{
        'color': httpOptions.theme,'width': httpOptions.width,'border-left-color': httpOptions.theme,'border-right-color': httpOptions.theme}" >      
        <li  class="search-result-item" *ngFor="let result of results"
          (click)="emitSelectedObject(result.value)"  (mousedown)="emitSelectedObject(result.value)"
          [ngStyle]="{'color': httpOptions.theme,'font-size': httpOptions.fontSize}">
          <span [innerHTML]="result.label"></span>
        </li>
      </ul> 
    </div>  
  </div>
  